{% extends 'blog/base.html' %}
{% load static %}
{% load  bootstrap %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}


    <div class="container my-3">
        <div class="card-deck">
            <div class="card">
                <div class="row">
                <img src="{{ MEDIA_URL }}{{ post.image.url }}" class="card-img-top detail-image-size" alt="...">
                    <div class="favourite">
                       {% if post in request.user.fav_posts.all%}
                           <a href="{% url 'blog:delete_from_favourite' post.id %}">
                               <img src="{% static 'img/star_yellow.png' %}" alt="">
                           </a>
                       {% else %}
                           <a href="{% url 'blog:add_to_favourite' post.id %}">
                               <img src="{% static 'img/star_empty.png' %}" alt="">
                           </a>
                       {% endif %}
                   </div>
            </div>
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>

                    <p class="card-text">{{ post.short_description }}</p>
                </div>
                {% for post_point in post_points %}
                    <div class="card-body">
                        <h5 class="card-title">{{ post_point.post_header}}</h5>
                        {% if post_point.post_images %}
                            <img src="{{ MEDIA_URL }}{{ post_point.post_images.url }}" class="card-img-top" alt="..."
                            style="width: 500px">
                        {% endif %}
                        {% if post_point.post_point_header == "Інгрідієнти" %}
                            <pre class="card-text">{{ post_point.post_point_text }}</pre>
                        {% else %}
                            <p class="card-text">{{ post_point.post_point_text }}</p>
                        {% endif %}

                    </div>
                {% endfor %}
                <form action="{% url 'blog:like_post' post.id %}" method="post" class="my-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light rounded-pill px-3 shadow-sm d-flex align-items-center gap-2">

                        {% if user in post.likes.all %}
                            <img src="{% static 'img/like.png' %}" width="20" height="20">
                        {% else %}
                            <img src="{% static 'img/dislike.png' %}" width="20" height="20">
                        {% endif %}

                        <span>{{ post.likes.count }}</span>
                    </button>
                </form>

                <div class="card-footer">
                    <small class="text-muted">Опубліковано {{ post.publish }}. Автор {{ post.author }}</small>


    {% if similar_posts %}
    <h2 class="text-center mb-3">Схожі статті</h2>
    <div class="row row-cols-1 row-cols-md-3">
        {% for post in similar_posts %}
              <div class="col mb-4">
                <div class="card h-100">
                  <img src="{{ MEDIA_URL }}{{ post.image.url }}" class="card-img-top detail-image-size" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{post.get_absolute_url}}">
                            {{ post.title|truncatechars:70 }}
                        </a>
                    </h5>
                  </div>
                </div>
              </div>
        {% empty %}
        {% endfor %}
    </div>
{% endif %}


    {% with comments.count as total %}
        <h2 class="text-center">{{ total }} коментарів</h2>
    {% endwith %}

    {% for comment in comments %}
            <div class="card border-dark mb-3" >
              <div class="card-header"><b>{{ forloop.counter }}. </b> {{ comment.name }},  E-mail {{ comment.email }}</div>
               <div class="card-body  text-dark">
                <p class="card-text">{{ comment.body }}</p>
              </div>
            </div>
    {% endfor %}
    <div class="m-5">
                    {% if new_comment %}
                        <h2>Ваш коментар доданий</h2>
                    {% else %}
                        <h2>Додати коментар</h2>
                        <form action="." method="post">
                        <div class="form-group">
                            <label for="nameInput">Ім'я</label>
                            {{ comment_form.name }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ваш Email </label>
                            {{ comment_form.email }}
                        </div>
                        <div class="form-group">
                            <label for="comment">Коментар</label>
                            {{ comment_form.body }}
                        </div>
                        <button type="submit" class="btn btn-primary">Додати коментар</button>
                        {% csrf_token %}
                        </form>
                    {% endif %}
                </div>

                </div>
            </div>
        </div>
{% endblock %}